* {
  text-align: center;
  font-family: sans-serif;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* ol {
  list-style-type: none;
} */

.xl {
  font-size: 40px;
}

.md {
  font-size: 24px;
}

ol {
  display: flex;
  flex-direction: column;
  /* list-style: none; */
  align-items: center;
  gap: 0px 100px;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  cursor: pointer;
  border: none;
  width: 20%;
  padding: 12px;
}

i {
  margin-left: 20px;
  cursor: pointer;
  transform: scale(1.1);
}

i:hover {
  color: red;
  transform: scale(1.5);
}

.btn {
  border: none;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
}

.input {
  border: solid 2px rgb(0, 0, 0);
}

.green {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #37e097;
  color: #37e097;
}

.green:hover {
  color: #fff;
}
.green:hover:after {
  width: 100%;
}
.green:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #57cc99;
}

.green:hover {
  transform: scale(0.95);
}

.red {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #e37373;
  color: #e37373;
}
.red:hover {
  color: #fff;
}
.red:hover:after {
  width: 100%;
}
.red:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #e37373;
}

.red:hover {
  transform: scale(0.95);
}

@media (max-width: 700px) {
  .xl {
    font-size: 35px;
  }

  .md {
    font-size: 18px;
  }

  .input {
    width: 30%;
  }

  .btn {
    padding: 10px 20px;
  }

  ol {
    display: flex;
    flex-direction: column;
    list-style: lower-roman;
    align-items: center;
    gap: 20px 40px;
  }

  li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    width: 40%;
    padding: 12px;
    margin: 10px;
  }

  i {
    color: rgb(227, 115, 115);
  }

  i:click() {
    transform: scale(1.2);
  }
}
